/* GENERAL STYLES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}

body {
    background-color: #e4e4e2;
}

/* UTILITY CLASSES */

.flex-grow-autoFlow {
    flex-grow: 1;
    overflow: auto;
}

.font-bold {
    font-weight: bold;
}

.box {
    padding: 10px;
}

.wrapper {
    max-width: 1024px;
    margin: 5vh auto;
}

.bgLightGray {
    background-color: lightgrey;
}

.flex-col {
    flex-direction: column;
}

.flexRow {
    flex-direction: row;
}

.rowReverse {
    flex-direction: row-reverse;
}

.positionRel {
    position: relative;
}


/* MAIN */

.green-bar {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: #8cc9c2;
    height: 15vh;
    width: 100%;
}

main {
    max-width: 1200px;
    height: 80vh;
    background-color: rgb(233, 230, 230);
}

main,
main * {
    display: flex;
}

.col-left {
    width: 30%;
}

.col-right {
    width: 70%;
    border-left: 1px solid lightgrey;
}

.icon-container,
.icon-container>img {
    border-radius: 50%;
}

.icon-container {
    max-width: 50px;
}

.icon-container.big {
    max-width: 60px;
}

.icon-container > img {
    width: 100%;
    object-fit: contain;
}

.bell-container {
    height: 50px;
    width: 50px;
}

.notification-box > *,
.activeUserChat,
.chat{
    justify-content: center;
}

.notification-options,
.chat {
    font-size: 0.8em;
    padding: 5px;
}

.notification-box {
    background-color: #cce6f3;
}

.notification-box i {
    color: #cce6f3;
}

i {
    color: rgb(197, 196, 196);
    align-self: center;
    font-size: 1.2em;
    padding: 0 10px;
}

i:hover {
    color: grey;
    transform: scale(1.1);
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    border-radius: 20px;
    line-height: 2em;
    border: none;
}

.col-right input[type="text"] {
    line-height: 3em; 
    padding: 0 15px;
    margin: 5px;  
}   

input[type="text"]:focus {
    outline: none;
}

.search-bar > .fa-search,
.search-bar > .fa-times {
    position: absolute;
}

.search-bar > .fa-times {
    right: 10px;
}

.search-bar > input {
    padding: 0 35px;
}

.conversation-list,
.bell-container,
.msg-options {
    overflow: auto;
    background-color: white;
}

.conversation-list li {
    border-bottom: 1px solid lightgrey;
}

li:hover {
    background-color: rgb(226, 224, 224);
}

/* Message Area */

.msg-area {
    background-image: url(imgs/mine.jpg);
}

.message-row > .baloon {
    margin: 10px;
    padding: 17px;
    border-radius: 5px;
    box-shadow: 0 1px;
    }

.sent {
    background-color: rgb(171, 241, 171);
}

.received {
    background-color: white;
}

.triangle {
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 45px 20px 0 37.5px;
    border-color: white transparent transparent transparent;
}

.triangleGreen {
    border-color: rgb(171, 241, 171) transparent transparent transparent;
}

.message-row .time,
.baloon > .fa-angle-down,
.msg-options {
    position: absolute;
}

.message-row .time {
    padding-top: 20px;
    right: 5px;
    font-size: 0.7em;
}

.baloon > .fa-angle-down {
    display: none;
    top: 0;
    right: -3px;
}

.baloon:hover > .fa-angle-down {
    display: inline-block;
}

.msg-options {
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 1px 1px ;
    z-index: 1;
    bottom: -50px;
    /* display: none; */
}

.msg-options > li > a{
    padding: 10px 20px;
    text-decoration: unset;
}

